.navbar {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	width: 100%;
	background-color: white;
	border-radius: 50px;
	margin-top: 8px;
}

.navbar .upload-button {
	background-color: rgb(41, 91, 255);
	color: white;
	padding: 8px 16px;
	border-radius: 4px;
	font-weight: 600;
	margin-right: 32px;
	cursor: pointer;
}

.navbar .profile-icon {
	padding: 8px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 18px;
	border: 0.5px solid rgb(199 199 199);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
