.box-icon {
	padding: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-weight: 600;
	font-size: 14px;
	color: rgb(103, 107, 95);
}

.box-icon-hover:hover {
	background-color: rgb(230, 230, 230);
	color: rgb(91, 95, 84);
	border-radius: 6px;
}

.box-icon-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 0.5rem;
	font-size: 18px;
}
